@import "tailwindcss";

:root {
  --text-primary: #0e0f11;
}

/* Undo preflight for specific elements.*/
@layer base {
  /* Revert and restore styles for svg element */
  svg {
    all: revert;
    fill: none;
  }
}

/* biome-ignore lint/suspicious/noUnknownAtRules: @theme is handled by Tailwind */
@theme inline {
  /* Backgrounds & fills */
  --color-primary: var(--text-primary);
  --color-secondary: #f8f9fb;
  --color-warning: #fef6d0;
  --color-border: #dfe1e4;
  --color-card-border: #ededf0;
  --color-button-primary: #212b36;
  --color-button-disabled: #1f000000;
  --color-card-divider: #ededf0;
  --color-dropdown-border: #eff1f4;

  /* Text */
  --color-text-primary: #212b36;
  --color-text-secondary: #6b6f76;
  --color-text-link: #0c41bb;
  --text-body-xs: 12px;

  /* Shadows */
  --shadow-popover-050: 0 6px 20px 0 rgba(0, 0, 0, 0.07);
}

/* prevent layout shift caused by scrollbar */
html {
  scrollbar-gutter: stable;
}

body {
  color: var(--text-primary);
  font-family: Inter, Arial, sans-serif;
}
